/*引入图标大小固定为主题自带参数*/
.iconfont {
	font-size: 100% !important;
}

/*文章目录激活色*/
.toc-link.active {
    background: #FCA4D4
}

/******************************************************/
/*  菜单栏毛玻璃特效以及配色  */
/*顶部栏*/
#page-header.nav-fixed #nav{
	background: rgba(246, 239, 246, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#page-header.nav-fixed #nav{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

#nav .show{
	background: rgba(246, 239, 246, 0.61) !important;
	backdrop-filter: blur(8px) !important;
}
[data-theme=dark]
#nav .show{
	background: rgba(79, 76, 79, 0.35) !important;
	backdrop-filter: blur(8px) !important;
}

/*手机模式侧边栏*/
#sidebar #sidebar-menus.open{
	background:rgba(246, 239, 246, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
[data-theme=dark]
#sidebar #sidebar-menus.open{
	background:rgba(252, 224, 252, 0.11) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 0 0 6px;
}
/*侧边控制按钮*/
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up, 
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
[data-theme=dark]
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up,
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
	background: opacity(0.3);
	backdrop-filter: blur(3px);
}
/*搜索*/
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(246, 239, 246, 0.75) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
}
[data-theme=dark]
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input{
	background:rgba(252, 224, 252, 0.2) !important;
	backdrop-filter: blur(3px);
	border-radius: 6px 6px;
}
/*******************************************************/


/* ************************************************************** */
/* 页脚全透明 */
#footer {
    background: transparent !important; /*全透明，已选用*/
}

/* 半透明以及透明色，未选用，
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}
#footer::before {
    background: rgba(255,255,255,.15)
}
*/
#footer #footer-wrap {
    color: var(--font-color);
}

#footer #footer-wrap a {
    color: var(--font-color);
}
/* ************************************************************** */

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
	background:rgba(255, 255, 255, 0.8);
  }
  /* 首页侧栏卡片 */
  .card-widget{
  background:rgba(255, 255, 255, 0.8)!important;
  }
  /* 文章页面正文背景 */
  div#post{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 分页页面 */
  div#page{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 归档页面 */
  div#archive{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 标签页面 */
  div#tag{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 分类页面 */
  div#category{
  background: rgba(255, 255, 255, 0.8);
  }
  
  /* 页脚透明 */
  #footer{
	background: transparent!important;
  }
  /* 头图透明 */
  #page-header{
	background: transparent!important;
  }
  /*白天模式伪类遮罩层透明*/
  [data-theme="light"]
	#footer::before{
		background: transparent!important;
	  }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
	#footer::before{
		background: transparent!important;
	  }
  [data-theme="dark"]
	#page-header::before{
	  background: transparent!important;
	  }
  /*夜间模式页面背景设置为半透明*/
  [data-theme="dark"]
	div.recent-post-item{
		background: rgba(0, 0, 0, 0.5)!important;
	  }
  [data-theme="dark"]
	#aside-content .card-widget{
		background: rgba(0, 0, 0, 0.5)!important;
	  }
  [data-theme="dark"]
	div#post{
	  background: rgba(0, 0, 0, 0.5)!important;
	  }
  [data-theme="dark"]
	div#page{
	  background: rgba(0, 0, 0, 0.5)!important;
	  }
  [data-theme="dark"]
	div#archive{
	  background: rgba(0, 0, 0, 0.5)!important;
	  }
  [data-theme="dark"]
	div#tag{
	  background: rgba(0, 0, 0, 0.5)!important;
	}
  [data-theme="dark"]
	div#category{
	  background: rgba(0, 0, 0, 0.5)!important;
	}
	
  /*阅读模式*/
  .read-mode #aside-content .card-widget{
		background: rgba(158, 204, 171, 0.5)!important;
	  }
  .read-mode div#post{
	  background: rgba(158, 204, 171, 0.5)!important;
	  }
  /*夜间阅读模式*/
  [data-theme="dark"]
	.read-mode #aside-content .card-widget{
		  background: rgba(0, 0, 0, 0.5)!important;
		  color: #eeeeee;
		}
  [data-theme="dark"]  
	.read-mode div#post{
		background: rgba(0, 0, 0, 0.5)!important;
		color: #eeeeee;
		}